.e1_22{
    width: 414px;
    height: 736px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(../Images/Level7.png);
    background-repeat: no-repeat;
    background-size: cover;
}