
.e29_43 { 
	background-color:rgba(255, 255, 255, 1);
	width:414px;
	height:736px;
	position:absolute;
}
.e29_44 { 
	width:414px;
	height:736px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Images/Achtergrond.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_45 { 
	box-shadow:0px 4px 4px rgba(199.0000033378601, 167.00000524520874, 129.00000751018524, 1);
	transform: rotate(7.765026540623438e-19deg);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:310.0000305175781px;
	height:284.0000305175781px;
	position:absolute;
	left:52px;
	top:104px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e29_46 { 
	width:276px;
	height:265px;
	position:absolute;
	left:69px;
	top:116px;
	background-image:url(../Images/Level2.1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_47 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:93px;
	top:527px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_48 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:132px;
	top:527px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_49 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:171px;
	top:527px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_50 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:210px;
	top:527px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_51 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:249px;
	top:527px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_52 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:288px;
	top:527px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_53 { 
	width:32px;
	height:44px;
	position:absolute;
	left:93px;
	top:549px;
}
.e29_54 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:93px;
	top:585px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_55 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:132px;
	top:585px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_56 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:171px;
	top:585px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_57 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:249px;
	top:585px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_58 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:288px;
	top:585px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_59 { 
	width:32px;
	height:44px;
	position:absolute;
	left:93px;
	top:607px;
}
.e29_60 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:93px;
	top:643px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_61 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:132px;
	top:643px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_62 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:171px;
	top:643px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_63 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:210px;
	top:643px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_64 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:249px;
	top:643px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_65 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:288px;
	top:643px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_66 { 
	width:32px;
	height:44px;
	position:absolute;
	left:93px;
	top:665px;
}
.e29_67 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:147px;
	height:40px;
	position:absolute;
	left:134px;
	top:40px;
	font-family:Luckiest Guy;
	text-align:center;
	font-size:40px;
	letter-spacing:2px;
}
.e29_68 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:227px;
	height:86px;
	position:absolute;
	left:89px;
	top:411px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e37_4 { 
	width:150px;
	height:63px;
	position:absolute;
	left:128px;
	top:422px;
	background-image:url(../Images/Level2.2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
