
.e29_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:414px;
	height:736px;
	position:absolute;
}
.e29_3 { 
	width:414px;
	height:736px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Images/Achtergrond.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_4 { 
	box-shadow:0px 4px 4px rgba(199.0000033378601, 167.00000524520874, 129.00000751018524, 1);
	transform: rotate(7.765026540623438e-19deg);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:310.0000305175781px;
	height:284.0000305175781px;
	position:absolute;
	left:52px;
	top:213px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e29_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:148px;
	height:40px;
	position:absolute;
	left:133px;
	top:40px;
	font-family:Luckiest Guy;
	text-align:center;
	font-size:40px;
	letter-spacing:2px;
}
.e29_6 { 
	width:266px;
	height:105px;
	position:absolute;
	left:74px;
	top:537px;
}
.e29_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:0px;
	top:61px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:39px;
	top:61px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_9 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:78px;
	top:61px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:117px;
	top:61px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_11 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:156px;
	top:61px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_12 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:195px;
	top:61px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_13 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:234px;
	top:61px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:39px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_15 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:78px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:117px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_17 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:156px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_18 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:32px;
	height:44px;
	position:absolute;
	left:195px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_19 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(234.00000125169754, 222.00000196695328, 197.0000034570694, 1);
	width:227px;
	height:86px;
	position:absolute;
	left:94px;
	top:97px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e29_36 { 
	color:rgba(116.00000068545341, 94.0000019967556, 72.00000330805779, 1);
	width:183px;
	height:86px;
	position:absolute;
	left:116px;
	top:130px;
	font-family:Luckiest Guy;
	text-align:center;
	font-size:22px;
	letter-spacing:2px;
}
.e35_3 { 
	width:312px;
	height:248px;
	position:absolute;
	left:47px;
	top:213px;
	background-image:url(../Images/Level3.1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
